/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ROOT */

:root{

     /* COLOR PALETTE */
    --blue:#0061FF;
    --lightblue: #B4D0E7;
    --darkblue:#0D2481;
    --doggerblue:#0093CE;
    --granada:#61082B;
    --red:#FF1C1C;
    --darkgreen:#A2D39B;
    --lightgreen:#D1E9CD;
    --darkred:#D5001F;
    --grey:#F5F5F5;
    --yellow:#FFD830;
    --white:#Fff;
    --black:#000;
    --darkgrey:#D0D0D3;


}

/* GENERAL */

button{
    background-color: var(--blue);
    color:var(--white);
    padding:10px 15px;
    font-size: 15px;
    margin:30px 0;
    border-style: none;
    cursor: pointer;
}

.border{
    border: 2px dashed var(--black);
}

.borderr{
    border: 1px dashed var(--red);
}

body{
    font-family: 'Open Sans', sans-serif;
}



img{
    max-width: 100%;
    display: inline-block;
}

h1{
    font-size:79px;
    margin-bottom: 55px;
    font-weight: 800 ;
}

h2{
    font-size:40px;
    margin-bottom: 55px;
}

h3{
    font-size: 23px;
    margin-bottom: 18px;
}

h4{
    margin-bottom: 15px;
}

hr{
    margin: 10px 0;
    
}

i{
    padding: 0 5px;
}

.fa-solid.fa-check{
    color: #0061FF;
    font-size: 15px;
}

address{
    padding: 30px 0;
}

/* UTILITY */

.header-footer-container{
    max-width: 1265px;
    margin:0 auto;
}

.main-container{
    max-width: 1075px;
    margin:0 auto;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.scale-05{
  transform: scale(0.5);
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin:0 3px;
 }

 .border-blu{
    border:5px solid var(--blue);
    cursor: pointer;
 }

 .border-grey{
    border:2px solid #d5d1d1;
    margin-left: 50px;
    cursor: pointer;
 }

 .column-title{
    flex-basis: 40px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    border-bottom:1px solid var(--darkgrey);
}

/* BACKGROUND COLOR PALETTE */
.bg-green{
    background-color: var(--darkgreen);
}

.bg-granada{
    background-color: var(--granada);
}

.bg-darkgreen{
    background-color: var(--darkgreen);
}

.bg-red{
    background-color: var(--red);
}

.bg-doggerblue{
    background-color: var(--doggerblue);
}

.bg-blue{
    background-color: var(--darkblue);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-darkred{
    background-color: var(--darkred);
}

.bg-lightblue{
    background-color: var(--lightblue);
}

main{
    padding-top: 60px;
}

/* HEADER */

header{
    margin-bottom: 80px;
    height: 820px;
  }
     /* NAVBAR */

      #navbar{
            position:fixed;
            z-index: 1;
            width: 100%;
            height: 80px;
            background-color: var(--white);
            padding: 0 10px;
        }
        
        .flex-navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            line-height: 30px;
           
        }

        .navbar-right{
            text-align: right;
        }
        
        #logo{
            vertical-align: middle;
        }

        #navbar a{
            text-decoration: none;
            color: var(--black);
            margin:0 15px;
            line-height: 78px;
        }

        #navbar li{
            display: inline-block;
            
        }

     /* JUMBOTRON */

        #jumbotron {
             transform: translateY(80px);
             background-color:var(--lightblue);
             height: 740px;
             padding-top:40px;
        }
        
        .jumbotron-content{
            flex-basis: 30%;
            position: relative;
        }

        .jumbotron-img{
            flex-basis: 70%;
        }

        .jumbotron-content .arrow{
            position: absolute;
            bottom:80px;
            left:0;
            transform: translate(50%,-50%) scale(3);
        }

        .arrow a{
            color: var(--black);
        }
        
        .jumbotron-content button{
            font-size: 17px;
        }
        
        .arrow{
            animation: bouncing 0.5s linear infinite alternate-reverse;
        }
 /* MAIN */

     /* SECTION PLANS */

     .plans-row{
        display:flex;
        gap: 40px;
        margin: 50px 0;
     }

     .plans-column{
        flex-basis: calc(100%/3);
        min-height: 300px;
        font-size: 14px;
        border:1px solid var(--darkgrey);
        
     }
    
     .plans-column-flex{
        min-height: 950px;
     }

     

     .plans-column-description{
        padding: 0 45px;
        padding-top: 35px;
        flex-basis: 500px;
     }

     
     .plans-column-highlights{
        padding: 0 35px;
        flex-basis: 405px;
     }
    
     #plans ul{
        list-style-type: none;
        padding:20px 0;
     }
   
     #plans li{
        padding: 10px 0;
     }

      #plans button{
         width: 100%;
     }

     /* SECTION ENTERPISE */

     .enterprise-row{
        border: 1px solid var(--darkgrey);
     }

     .enterprise-content{
        padding:35px;
        min-height: 230px;
     }

     .enterprise-content-left{
        flex-basis: 60%;
        justify-content: space-between;
     }

     .enterprise-content-right{
        flex-basis: 40%;
        text-align: right;
     }

     #enterprise button{
        margin: 0;
        padding:10px 40px;
    }

    /* SECTION DROPBOX PARTNER */

    #partner{
        padding: 150px 0;
    }
    
    .partner-img{
         flex-basis: 60%;
    }

    .partner-text{
        flex-basis: 40%;
       padding:50px;

    }

    #partner button{
        background-color: var(--white);
        border: 1px solid var(--black);
        color: var(--black);
        font-size: 17px;
    }

    /* SECTION BUSINESS TOOLS */
    
    .tools-row{
        flex-wrap: wrap;
        margin: 0 -35px;
    }


    .tools-card{
        flex-basis: calc(100%/3);
        min-height: 200px;
        padding: 35px;
    }

    /* SECTION CLIENT */

    #client{
        padding: 150px 0;
    }

    /* SECTION COLLABORATION */
    

    .collaboration-column-left{
         flex-basis: calc(100%/3);
         min-height: 100px;
         flex-wrap: wrap;
         height: 700px;
    }

    .collaboration-column-center{
        flex-basis: calc(100%/3);
        background-color: var(--grey);
        padding: 50px;
    }

    .collaboration-column-right{
        flex-basis: calc(100%/3);
        flex-wrap: wrap;
        
    }

    .collaboration-square{
        flex-basis: calc(100%/2);
        height: calc(100%/2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collaboration-square img{
          filter: invert(100%);
    }

    .collaboration-column-center p{
        padding: 30px 0;
    }

    .collaboration-column-center img{
       width: 280px;
       padding-bottom: 30px;
    }
   
    /* SECTION JOIN DROPBOX */

    .join-business-wrap{
        height: 365px;
        justify-content: space-between;
        align-items: center;
        color: var(--granada);
     }

     .join-business-wrap h2{
        margin: 0;
     }

     .join-business-wrap button{
        margin: 0;
        background-color: var(--white);
        padding: 12px 50px;
        color: var(--black);
        font-size: 17px;
        transform: translateY(-20px);
     }

     /* SECTION FAQ */
     
     #faq{
         padding: 150px 0;
     }

     .faq-row{
        border-top: 1px solid var(--black);
        min-height: 100px;
        /* line-height: 100px;
        vertical-align: middle; */
     }

     .faq-column {
        min-height: 80px;
        padding: 40px 0;
        justify-content: space-between;
        border-bottom: 1px solid var(--black);
        flex-wrap: wrap;
     }

     .faq-column p{
        display: none;
     }

     .faq-column .fa-angle-up{
        display: none;
     }


/* FOOTER */

footer{
    color:var(--white);
    background-color: var(--black);
    height: 600px;
}

footer ul{
    list-style-type: none;
}

footer li{
    padding: 10px 0;
}

footer a{
    color: var(--white);
    text-decoration: none;
}

.useful-link-row{
    min-height: 450px;
    align-items: center;
    justify-content: space-between;
}

.language{
    padding:40px 0;
    color: var(--darkgrey);
}

/* HOVER */

button:hover{
   opacity: 0.8 ;
}

.collaboration-square:hover{
    box-shadow: inset 15px 15px 5px rgba(255,255, 255, 0.4) ,
                inset -15px -15px 5px rgba(255,255, 255, 0.4),
                inset 15px -15px 5px rgba(255,255, 255, 0.4),
                inset -15px  15px 5px rgba(255,255, 255, 0.4);
}

.faq-column:hover p{
     display: block;
     padding-top: 40px;
}

.faq-column:hover .fa-angle-up{
    display: inline-block;
}

.faq-column:hover .fa-angle-down{
    display: none;
}

#navbar li:hover{
   border-bottom: 2px solid var(--black);
}
/* ANIMATION */

@keyframes bouncing{
    from{
        bottom:80px;
        left:0;
    }
    to{
        bottom:90px;
        left:0;
    }
}