/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ROOT */

:root{

     /* COLOR PALETTE */
    --blue:#0061FF;
    --lightblue: #B4D0E7;
    --darkblue:#0D2481;
    --doggerblue:#0093CE;
    --granada:#61082B;
    --red:#FF1C1C;
    --darkred:#A2D39B;
    --lightgreen:#D1E9CD;
    --green:#D5001F;
    --grey:#F5F5F5;
    --yellow:#FFD830;
    --white:#Fff;
    --black:#000;


}

/* GENERAL */

button{
    background-color: var(--blue);
    color:var(--white);
    padding:10px 15px;
    font-size: 17px;
    margin:30px 0;
    border-style: none;
    cursor: pointer;
}

.border{
    border: 2px dashed var(--black);
}

.borderr{
    border: 1px dashed var(--red);
}

body{
    font-family: 'Open Sans', sans-serif;
}

main{
    min-height: 1200px;
    background-color: #FFD830;
}



footer{
    color:var(--white);
    background-color: var(--black);
    height: 570px;
    margin-top: 50px;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    font-size:79px;
    margin-bottom: 55px;
    font-weight: 800 ;
}

/* UTILITY */

.header-footer-container{
    max-width: 1150px;
    margin:0 auto;
}

.main-container{
    max-width: 1200px;
    margin:0 auto;
}

.flex{
    display: flex;
}


/* HEADER */

header{
    margin-bottom: 80px;
    height: 820px;
  }
     /* NAVBAR */

      #navbar{
            position:fixed;
            z-index: 1;
            width: 100%;
            height: 80px;
            background-color: var(--white);
        }
        
        .flex-navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .navbar-left{
            min-height: 50px;
            flex-basis: 200px;
        }

        .navbar-right{
            min-height: 50px;
            flex-basis: 200px;
        }


     /* JUMBOTRON */

        #jumbotron {
             transform: translateY(80px);
             background-color:var(--lightblue);
             height: 740px;
             padding-top:80px;
        }
        
        .jumbotron-content{
            flex-basis: 30%;
            position: relative;
        }

        .jumbotron-img{
            flex-basis: 70%;
        }

        .jumbotron-content .arrow{
            position: absolute;
            bottom:80px;
            left:0;
            transform: translate(50%,-50%) scale(3);
        }

        .arrow a{
            color: var(--black);
        }


